.home_slider_dots {
  justify-content: flex-start !important;
  left: 3rem !important;
  right: initial !important;
  bottom: 1.25rem !important;
  li {
    margin-right: 1rem;
    button {
      width: 22px;
      height: 22px;
      border-radius: 100%;
      border: 1px solid transparent;
      transition: all 0.3s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      &:focus {
        outline: none;
        border-color: #1ce2d8bf;
        border-radius: 100%;
      }
    }
    &.dot_active {
      button {
        border-color: #666;
      }
    }
  }
}
